.important-note {
    text-decoration: underline;
    white-space: initial;
    color: red;
    margin-top: 10px;
    &:hover { cursor: pointer;}
}

.section-header {
    color: #437C73;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    &:hover { cursor: pointer;}
}

.notes {
    border: 10px double black;
    padding: 5px 8px;
    border-radius: 4px;

    span {
        display: block;
        word-wrap: break-word;
        white-space: initial;

        &.hide { display: none; }
    }
}

i.right {
    float: right;
    padding-right: 25px;
}

.hide {display: none !important;}

.form-group a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.form-group.row.last {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

section.group {
    border: 10px double #34495E;
    white-space: initial;
    padding: 10px 8px;
    padding-bottom: 5px;
    border-radius: 4px;
}