.important-note {
  text-decoration: underline;
  white-space: initial;
  color: red;
  margin-top: 10px;
}

.important-note:hover {
  cursor: pointer;
}

.section-header {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #34495E;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.section-header:hover {
  cursor: pointer;
}

.notes {
  border: 2px solid #34495E;
  padding: 5px 8px;
  border-radius: 4px;
}

.notes span {
  display: block;
  word-wrap: break-word;
  white-space: initial;
}

.notes span.hide {
  display: none;
}

i.right {
  float: right;
  padding-right: 25px;
  padding-top: 5px;
}

.hide {
  display: none !important;
}

.form-group a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.form-group.row.last {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

section.group {
  border: 2px solid #34495E;
  border-top: none;
  white-space: initial;
  padding: 10px 8px;
  padding-bottom: 5px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

section.group.verification-information .row button {
  margin: 0 auto;
  width: 90%;
}

button.disabled {
  cursor: not-allowed !important;
}

input:required,
textarea:required,
select:required {
  border-color: red;
}

input:required:valid,
textarea:required:valid,
select:required:valid {
  border-color: #ced4da;
}

label.required::before {
  content: "* ";
  color: red;
}

