.content-wrapper {
    max-width: 800px;
}

h1.title {
    position: relative;

    button {
        position: absolute;
        top: 10px;
        right: 0px;
    }
}

.header {
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
}

form {
    border-top: 2px solid grey;
    padding-top: 10px;

    i:hover {
        cursor: pointer;
    }

    .submit {
        margin-top: 20px;
    }

    label.required::before {
        content: '* ';
        color: red;
    }
    
    input:required, select:required, textarea:required {
        border: 1px solid red;
    }

    input:required:valid,
    textarea:required:valid,
    select:required:valid {
        border-color: #ced4da;
    }
}

input#item-serial-number {
    max-width: 200px;
    width: 75%;
}

table.table-striped {
    margin-top: 20px !important;
}

i.fas.fa-plus{
    margin-right: 5px;
}

.item-section {
    border: 1px solid grey;
    border-radius: 4px;

    h2 {
        padding-left: 10px;
    }
}

.modal-master {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: rgb(157, 155, 155, 0.5);
    display: block;
    transition: all 1s;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    i.fa-times {
        color: red;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 40px;
    }

    .modal-wrapper {
        min-width: 250px;
        max-width: 600px;
        min-height: 300px;
        max-height: 500px;
        height: 80vh;
        width: 90vw;
        overflow: scroll;
        overflow-x: hidden;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 1px 1px 16px 0px black;
        
        margin-top: 50px;
        background-color: #F7F7F7;   
        position: relative;

        h1 {
            position: relative;
            padding-left: 10px;
            padding-top: 5px;
            padding-right: 20px;
            background-color: #E9BC1A;
            text-align: center;
        }

        table tr td {
            padding: 5px 0.75rem;
        }
        
        table.table-borderless {
            button { width: 50%; }
        }

        table.search-result {
            tr:first-of-type th {
                background-color: #333;
                color: white;
                text-align: center;
            }
        }
    }
}

.detail h4 {
    margin-left: 15px;
}

table {
    width: 100% !important;
    max-width: 800px;
}

table.table td {
    padding: 0.25rem 0.75rem;
}

#print-area-delivery h4 {
    margin-bottom: 0px;
}

@media print {
    @page {
        size: portrait a4;
    }
}

@media (max-width: 767px) {

}