h1.title {
    position: relative;

    button {
        position: absolute;
        top: 10px;
        right: 0px;
    }
}

.header {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

form {
    border-top: 2px solid black;
    padding-top: 10px;

    i:hover {
        cursor: pointer;
    }

    .submit {
        margin-top: 20px;
    }

    label.required::before {
        content: '* ';
        color: red;
    }
    
    input:required, select:required, textarea:required {
        border: 1px solid red;
    }
}

table.table-striped {
    margin-top: 20px;
}

i.fas.fa-plus{
    margin-right: 5px;
}

.item-section {
    border: 1px solid grey;
    border-radius: 4px;

    h2 {
        padding-left: 10px;
    }
}

.modal-master {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: rgb(157, 155, 155, 0.5);
    display: block;
    transition: all 1s;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .modal-wrapper {
        min-width: 200px;
        max-width: 80vw;
        min-height: 300px;
        max-height: 80vh;
        overflow: scroll;
        margin: 0 auto;
        
        margin-top: 80px;
        width: fit-content;
        height: fit-content;
        background-color: #F7F7F7;   

        h1 {
            padding: 0 10px;
            padding-top: 5px;
            background-color: #E9BC1A;
        }
    }
}

@media print {
    @page {
        size: portrait a4;
    }
}