.content-wrapper {
    max-width: 800px;
    &.max {
        max-width: 1200px;
    }
}

.header {
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
    width: 100%;
}

.table.limited {
    max-width: 600px;
}

a.btn {
    color: white;
}

.danger-section {
    background-color: #DC1515;
    color: white;
    padding: 10px;
}

.form-alert {
    padding: 10px;
    margin-top: 10px;
    word-wrap: break-all;
    white-space: pre-wrap;
}

.item-section {
    border: 1px solid grey;
    border-radius: 4px;

    h2 {
        padding-left: 10px;
    }
}

table {
    width: 100% !important;
}
@media print {
    @page {
        size: landscape a4;
        margin: 10mm auto;
    }
}

@media (max-width: 767px) {
    .header { font-size: 80%; }
}

