.verified {
    background-color: #28a745;
    color: white;
}
.not_verified {
    background-color: #dc3545;
    color: white;
}

.panel-heading {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}