.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  white-space: nowrap;
  width: 100vw;
  height: 100vh;
  font-size: 0px;
}

.container nav {
  display: none;
  width: 200px;
  height: 100vh;
  font-size: 14px;
  overflow-y: scroll;
  background-color: #34495E;
  color: white;
  box-shadow: 2px 1px 5px 0px #444444;
}

.container nav.show {
  display: inline-block;
}

.container nav .logo {
  height: 50px;
  background-color: #437C73;
}

.container nav .logo h2 {
  padding-top: 10px;
  color: white;
}

.container nav ul {
  list-style-type: none;
  padding: 0px;
}

.container nav ul li {
  position: relative;
  padding: 5px 20px;
}

.container nav ul li a {
  display: block;
}

.container nav ul li.customer,
.container nav ul li.contract {
  display: none;
  background: #2D3B49;
}

.container nav ul li.customer.show,
.container nav ul li.contract.show {
  display: block;
}

.container nav ul li:hover {
  background-color: #4A545E;
  cursor: pointer;
}

.container nav ul li i.indicator {
  padding-right: 10px;
}

.container nav ul li i.expander {
  position: absolute;
  right: 10px;
  top: 10px;
}

.container .main-content {
  vertical-align: top;
  display: inline-block;
  width: calc(100vw - 200px);
  height: 100vh;
  font-size: 14px;
}

.container .main-content.expand {
  width: 100vw;
}

.container .main-content header {
  height: 50px;
  background-color: #437C73;
  color: white;
}

.container .main-content header i.burger {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
}

.container .main-content header i.burger:hover {
  cursor: pointer;
}

.container .main-content header span.user-management {
  float: right;
  margin-right: 30px;
}

.container .main-content header span.user-management i {
  padding-right: 5px;
}

.container .main-content header span.user-management h4 {
  padding-top: 15px;
}

.container .main-content header span.user-management:hover {
  cursor: pointer;
}

.container .main-content header ul.user-submenu {
  visibility: hidden;
  position: absolute;
  right: 5px;
  top: 51px;
  padding: 5px 0px;
  background-color: #34495E;
  list-style-type: none;
  border: 1px solid white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.container .main-content header ul.user-submenu.show {
  visibility: visible;
  z-index: 100000;
}

.container .main-content header ul.user-submenu li {
  padding: 5px;
}

.container .main-content header ul.user-submenu li:hover {
  cursor: pointer;
}

.container .main-content header ul.user-submenu li i {
  padding-right: 4px;
}

.container .main-content div.content {
  height: calc(100vh - 50px);
  background-color: #FAFAFA;
  overflow-y: scroll;
  padding: 10px;
}

.container .alert {
  font-size: 14px;
  position: fixed;
  top: 100px;
  right: 30px;
  display: none;
  color: white;
}

.container .alert.show {
  display: block;
}

